[project]
	description = test github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jianglieshan
[access "refs/for/refs/*"]
	read = group user/jianglieshan
	push = group user/jianglieshan
	label-Code-Review = -2..+2 group user/jianglieshan
	label-Verified = -1..+1 group user/jianglieshan
	rebase = group user/jianglieshan
	removeReviewer = group user/jianglieshan
	submit = group user/jianglieshan
[access "refs/heads/*"]
	read = group user/jianglieshan
	create = group user/jianglieshan
	push = +force group user/jianglieshan
	pushMerge = group user/jianglieshan
[access "refs/tags/*"]
	push = +force group user/jianglieshan
	pushTag = group user/jianglieshan
	pushSignedTag = group user/jianglieshan
